<p id="notice"><%= notice %></p>

<div class="container">

<h1>Quang's blog</h1>
<h3>Welcome to my blog</h3>

<nav class="navbar navbar-light bg-faded justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<%= render @articles %>

    
<br>

<%= link_to 'Create New Article', new_article_path %>
</div>
